.airBtn-check:focus+.airBtn, .airBtn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(63 189 119 / 34%) !important;
}
.cursor{
    cursor:pointer;
}
@media only screen and (min-width: 600px){

}
.user-select-none{
    user-select: none;
}

button.btn-air {
    background-image: linear-gradient(to bottom right,  #38d38d ,#6eed57) !important;
}
button.btn.btn-air.airBtn.col-md-10.mb-3.text-white {
    background-color: linear-gradient(to bottom right, #38d38d ,#6eed57) !important;
}
.btn-outline-air {
    color: #6cda6f;
    border-color: #5ad258;
}
.btn-outline-air:hover {
    color: white;
    background-image: linear-gradient(to bottom right,  #38d38d ,#6eed57);
}
.img-208 {
    height: 208px;
}
.homePhoto{
    /* background-image: url(../../images/hotel-home.jpg); */
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
    background:linear-gradient(to bottom, rgba(0,0,0,0) 20%, rgba(0,0,0,1)), url(../../images/hotel-home.jpg);
    /* filter: blur(6px);
  -webkit-filter: blur(4px); */
    background-size: cover;
}
.homePhotoSection{
    position: relative;
}
.homeHeaderText{
    /* text-align: center; */
    position: absolute;
    bottom: 25%;
    /* left: 30%; */
    /* transform: translate(-50%, -50%); */
    color: white;
}
.ex-img-1{
background-repeat: no-repeat;
background-position: center;
height: 400px;
background:linear-gradient(to top, rgba(0,0,0,0) 20%, rgba(0,0,0,1)), url(../../images/travel1.jpg);
background-size: cover;
}
.ex-img-2{
background-repeat: no-repeat;
background-position: center;
height: 400px;
background:linear-gradient(to top, rgba(0,0,0,0) 20%, rgba(0,0,0,1)), url(../../images/travel2.jpg);
background-size: cover;
}
.border-0{
    border: none !important;
}